
name: CICD Pipeline

on:
  push:
    branches: [ "master" ]

jobs:

  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: CGO_ENABLED=0 GOOS=linux go build -o target/app main.go
    - uses: actions/upload-artifact@v4
      with:
          name: my-artifact
          path: target/*

    - name: Trivy FS Scan
      run: |
          trivy fs --format table -o trivy-fs-report.html .
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    - name: Install jq
      run: sudo apt-get update && sudo apt-get install -y jq

    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      timeout-minutes: 5
      env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: |
          docker build -t anil1226/gohttp-cicd-pipeline:latest .

    - name: Trivy Image Scan
      run: |
          trivy image --format table -o trivy-image-report.html anil1226/gohttp-cicd-pipeline:latest
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker Image
      run: |
          docker push anil1226/gohttp-cicd-pipeline:latest
